@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-blue: #95cdf3;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: hsl(0, 0%, 93%);
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

* {
  color: black;
}

.fa {
  padding: 5px;
}

.treeview-container {
  width: 15vw;
  padding: 8px;
}

.treeview-container .outlined-button {
  border: 2px solid #333;
  padding: 5px;
  border-radius: 10px;
  /* font-size:12px; */
  font-weight:500;
  /* transition: all 0.25s ease-in; */
}

.treeview-container .outlined-button:hover {
  background-color: var(--primary-blue);
}

.buttons-container {
  display:flex;
  flex-direction:column;
}

.tldraw-container {
  width: 60vw;
  height: 100vh;
  border: solid #333;
  border-width: 0 2px 0 2px;
}

.panel-container {
  width: 25vw;
  height: 100%;
  padding: 8px;
  font-family: monospace;
  /* font-size: 14px; */
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}
