.tree-node.selected {
    background-color: #95cdf3;
}

/* .tree-node.unselected {
    background-color: none;
} */

.tree-body {
    height: 100vh;
}

.instance-selected {
    background-color: #c8e1f2;
}