.node-selected {
    background-color: #95cdf3;
}

.tree-body {
    height: 100vh;
}

.node-instance-selected {
    background-color: #c8e1f2;
}

.node-has-children {
    font-style:italic;
}

.node-has-children button {
    color: black;
}